.topBarContainer {
    background-color: black;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    z-index: 2;
  }
  
  .topBar {
    display: flex;
    justify-content: right;
    gap: 30px;
    padding-right: 20px;
    padding-inline-start: 0;
    font-size: 11px;
  }
  
  .topBar li {
    display: flex;
    gap: 10px;
  }
  
  .topBar li a {
    color: white;
    text-decoration: none;
    text-align: center;
  }
  
  /* .headerDivider {
    padding-top: 10px;
    border-width: 0px 0px thin;
    border-style: solid;
  } */


  @media only screen and (min-width: 450px) {
    .topBar {
      font-size: 13px;
    }
  }

  @media only screen and (min-width: 768px) {
    .topBar {
      max-width: 1600px;
      margin-left: auto;
      margin-right: auto;
      padding-right: 20px;
    }
  }
  