.topBarContainer {
  background-color: black;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  z-index: 2;
}

.topBar {
  display: flex;
  justify-content: right;
  gap: 20px;
  padding-right: 10px;
  padding-right: 10px;
  padding-inline-start: 0;
  font-size: 13px;
}

.svg {
  margin-bottom: 3px;
}

.topBar li {
  display: flex;
}

.topBar li a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: flex;
  gap: 10px;
}

/* .headerDivider {
    padding-top: 10px;
    border-width: 0px 0px thin;
    border-style: solid;
  } */

 .mailText {
  display: none;
 }


@media only screen and (min-width: 450px) {
  .topBar {
    font-size: 13px;
  }

  .mailText {
    display: flex;
   }
}

@media only screen and (min-width: 768px) {
  .topBar {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
  }
}