  .workHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttoWrap {
    align-items: center;
    display: flex;
    padding-bottom: 10px;
  }
    
  .workGrid {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .workImages {
    border-radius: 24px;
  }

  @media only screen and (min-width: 768px) {
    .workGrid {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 10px;
      row-gap: 10px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .workGrid {
      grid-template-columns: auto auto auto;
    }
  }